{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  labels:
    app: {{ .Release.Name }}-wordpress
  annotations:
    # Basic ingress annotations
    kubernetes.io/ingress.class: {{ .Values.ingress.className }}
spec:
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Release.Name }}-wordpress
            port:
              number: {{ .Values.wordpress.service.port }}
{{- end }}
